# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# PDF/Temp files
temp_*.pdf 